/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ==========================================================================*/
/* General Styles */

html {
	font-size: 16px;
}


body { 
	font-family:'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

ul,
ol {
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.125em;	
}

a {
	text-transform: uppercase;
	font-weight: bold;
	color: #e2e3ed;	
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.25em;
	font-weight: normal;
	
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.875em;
	font-weight: normal;
}

h3, 
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.125em;
	font-weight: normal;
	color: #e2e3ed;	
}

p {
	font-size: 0.875em;
	color: #e2e3ed; 
	line-height: 18px;
}

img {
	width: 100%;
	
}

figure {
	
}

address {
	
}

.content-wrapper {
	width: 100%;
	margin: 50px 0;
}

/*=========Base Header and Footer Styles (Homepage, FAQ, About pages)========*/

header, footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	background: #202322;
}

/*-----------Header Styles-------------*/

header {
	padding: 15px 0;
	
}

header .content-wrapper {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0;
}

.logo {
	width: 60%;
}

.header-divider {
	width: 100%; 
	height: 1px;
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #3a3a3a; 
}

header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	width: 60%; 
}

header nav ul { 
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap; 
	width: 100%; 
	padding: 0; 
	margin: 0; 
}

ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #e2e3ed; 
	font-size: 1.28rem;		
}

h1 {
	font-size: 2.25rem; 
	color: #e2e3ed; 	
	
}

/*--------Footer Styles---------*/

footer {
	flex-direction: column;
	
}
/*----Contact----*/

footer p {
	margin: 0;
	padding-bottom: 45px; 
}

footer h4{
	margin:0;
	padding-bottom: 15px;
}

footer .content-wrapper {
	margin: 50px 0; 
	width: 55%;
}

.footer-content {
	color: #ffffff;

}

footer .contact,
footer .social {
	font-size: 1.28rem; 
	text-align: center; 	
}

address {
	font-size: 1rem; 
	
}

/*----Social Media Icon section----*/

footer .social-icons {
	
}

footer .social-icons p {
	
}

footer .copyright {
	text-align: center; 
}

.copyright span {
	padding: 0 6px; 
}


/*========================MOBILE HOMEPAGE STYLES====================*/

/*---------Main Section Styles--------*/

/* Hero Area */

.hero-area {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background-image: url("../img/jake-melara-30679-unsplash.png");
	background-size: cover;
	background-position: center;
	height: 500px;
}

h1 {
	margin: 0 20px;
}

main {
	background:#527158;
	margin: 0;
	padding: 0;
}

/* Aside */

aside { 
	width: 100%;
    
}

	/*--------Newsletter Styles-------*/

.form-description {
	 margin: 0 20px;
	 background:#527158;
	 margin-bottom: 55px;
}

h2 {
	padding: 20px;
	color: #e2e3ed;
}

.form {
	
}

input {
	
}

	/*--------Features Styles---------*/

section.features {
	margin: 20px 0 0 0;
	background-image:url("../img/rawpixel-800820-unsplash.png");
	background-size: cover;
	padding-bottom: 50px;

}

section.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	
			
}


.features-items {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	text-align:center;

}

.fontawesome-icon {
	
}

.features-item-description {
	width: 55%;
	margin: 50px;
	padding-left: 35px;
	

}

	/*------------Reviews Styles-------------*/

section.reviews { 
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a423a;
}

section .reviews .content-wrapper {
	width: 88%;
}

.reviews h2 {
	margin: 0 20px;
	padding: 0;
}

.review-image {
	width:90%;
	margin: 20px;
}

.reviews h3 {
	margin-top: 0;
	
}
.review-description {
	margin: 0 20px;
}

.review-description p {
	color: #fff;
	margin: 0;
	
}

/*==============End of Homepage Styles==========*/

/*===============MOBILE ABOUT STYLES====================*/

.mission .content-wrapper {
	
}

.mission-content {
	
}

.mission-content h1 {
	
}

.mission-description-1 {
	
}

.mission-description-2 {
	
}

.map {
	
}

figure {
	
}

.contact-section {
	
}

.contact-section .content-wrapper {
	
}

.general-info {
	
}

.general-info h2 {
	

}

.general-info address {
	
	
}

/*===============MOBILE FAQ STYLES====================*/

.faq .content-wrapper {
	
}

.faq .content-wrapper article {
	
}


p.faq-answer {
	
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles */
	
	
	
}

@media only screen and (min-width: 1200px) {
  /* Desktop Styles */
	
	
	
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

